
<%= simple_form_for(@link) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :url %>
    <%= f.input :name %>
    <%= f.input :type, collection: ['RegularLink','TemporalLink','PrivateLink','EphemeralLink'], selected: 'RegularLink' %>
    <%= f.input :expiration_date %>
    <%= f.input :password %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
