<%= simple_form_for(@link) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <% @link.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  <div class="form-inputs">
    <%= f.input :url, as: :url %>
    <%= f.input :name, label: 'Nombre' %>
    <%= f.input :type, collection: [['Normal','RegularLink'], ['Temporal','TemporalLink'], ['Privado','PrivateLink'], ['Efímero','EphemeralLink']], selected: 'Normal', label: 'Tipo' %> 
    <div id="expiration_date_block" style="display: none">
      <%= f.input :expiration_date, label: 'Fecha de expiración' %>
    </div>
    <div id="password_block" style="display: none">
      <%= f.input :password, as: :password, label: 'Contraseña' %>
    </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<p> * Campos obligatorios</p>
<p> Tipos: </p>
<ul>
  <li>Normal: Link de acceso regular.</li>
  <li>Temporal: Tiene una fecha de expiración donde pierde validez.</li>
  <li>Privado: Tiene una contraseña que protege el acceso.</li>
  <li>Efímero: Link que expira luego del primer acceso.</li>
</ul>

<%= turbo_frame_tag 'new_item_form' %>
<script>
document.addEventListener('turbo:load', function () {
  const typeSelect = document.getElementById('link_type');
  const passwordBlock = document.getElementById('password_block');
  const dateBlock = document.getElementById('expiration_date_block');
  typeSelect.addEventListener('change', function () {
    if (typeSelect.value === 'PrivateLink') {
      passwordBlock.style.display = 'block';
      link_password.required = true;
      dateBlock.style.display = 'none';
    } else if (typeSelect.value === 'TemporalLink') {
      passwordBlock.style.display = 'none';
      link_password.required = false;
      dateBlock.style.display = 'block';
    } else {
      passwordBlock.style.display = 'none';
      link_password.required = false;
      dateBlock.style.display = 'none';
    }
    });
});
</script>
