<div id="<%= dom_id link %>">
  <p>
    <strong>Url acortada:</strong>
    <% url = '127.0.0.1:3000/l/'+link.slug %>
    <a href='<%= '/l/'+link.slug %>'><%= url %></a>
  </p>

  <p>
    <strong>Url:</strong>
    <%= link.url %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= link.slug %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= link.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= link.type %>
  </p>
  
  <% if link.type == 'TemporalLink' %>
  <p>
    <strong>Expiration date:</strong>
    <%= link.expiration_date %>
  </p>
  <% end %>

  <% if link.type == 'PrivateLink' %> 
  <p>
    <strong>Password:</strong>
    <%= link.password %>
  </p>
  <% end %>

  <p>
    <% if link.type != 'EphemeralLink' %>
      <strong>Accesos:</strong>
      <% if link.accesses_count %>
        <%= link.accesses_count %>
      <% else %>
        0
      <% end %>
    <% end %>

    <% if link.unusable? %>
       El link fue accedido (deshabilitado)
    <% end %>
  </p>
</div>
