<div id="<%= dom_id link %>">
  <p>
    <strong>Url:</strong>
    <%= link.url %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= link.slug %>
  </p>

  <p>
    <strong>User:</strong>
    <%= link.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= link.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= link.type %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= link.expiration_date %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= link.password %>
  </p>

  <p>
    <strong>Accesses count:</strong>
    <%= link.accesses_count %>
  </p>

</div>
