<div id="<%= dom_id link %>">
  <p>
    <strong>Url acortada:</strong>
    <% url = '127.0.0.1:3000/l/'+link.slug %>
    <%= link_to url, '/l/'+link.slug, data: {turbo: false} %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= link.url %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= link.slug %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= link.name %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= t("activerecord.models.#{link.type.underscore}") %>
  </p>

  <p>
    <strong>Accesos:</strong>
    <% if link.accesses_count %>
      <%= link.accesses_count %>
    <% else %>
      0
    <% end %>
  </p>

  <p>
    <%= render partial: "links/#{link.type.underscore}", locals: { link: link } %>
  </p>
</div>
