<h2>Estadísticas</h2>

<p>Cantidad total de accesos: <%= @link.accesses_count %></p>

<p>Cantidad de accesos por día<p>
<%= render 'accesses_by_day_chart', accesses_by_day: @accesses_by_day %>

<div>
<%= form_with url: list_links_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "links" } do |form| %>
  <hr>
  <%= form.label :busqueda, "Busqueda de accesos" %> <br>
  <%= form.text_field :ip_address,
    placeholder: "Buscar por IP",
    autocomplete: "off",
    data: { action: "input->search-form#search" }
    %> <br>
  <%= form.label :start_date, "Fecha de inicio" %>
  <%= form.date_field :start_date, placeholder: "Fecha de inicio" %><br>
  <%= form.label :end_date, "Fecha de fin" %>   
  <%= form.date_field :end_date, placeholder: "Fecha de fin" %>
  <%= form.submit "Buscar" %>
<% end %>
</div>
<%= turbo_frame_tag "links" do %>
  <% if @matches %>
    <strong>Cantidad de coincidencias: <%= @matches %></strong>
  <% end %>  
  <%= render 'accesses_table', accesses: @accesses %>
<% end %>
