<html>
  <head>
    <title>Chqto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple-v1.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <style>
    /* Estilo para desactivar la línea debajo de los enlaces */
    a {
      text-decoration: none;
    }
  </style>
  </head>

  <body>
    <ul class="hmenu">
      <%= render 'devise/menu/registration_items' %> |
      <%= render 'devise/menu/login_items' %> 
    </ul>
    <%= yield %>
    <p class="notice"> <%= notice || alert %></p>
  </body>
</html>

<style>
  ul.hmenu {
    list-style: none;	
    margin: 0 0 2em;
    padding: 0;
  }

  ul.hmenu li {
    display: inline;  
  }
</style>
