<!DOCTYPE html>
<html>
  <head>
    <title>Chqto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
    <%= stylesheet_link_tag "layout.css", media: "all", "data-turbo-track": "reload" %> 
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="logo-container">
       <a href="/"> <%= image_tag('logo.png', alt: 'Chqto Logo', class: 'logo') %>
       </a>
      </div>
      <nav>
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %> 
      </nav>
    </header>
    <div class="container">
      <%= yield %>
      <% if notice || alert %>
        <p class="notice"> <%= notice || alert %></p>
      <% end %>
    </div>
  </body>
</html>

<footer>
  <p>&copy; 2023 Chqto. Ningún derecho reservado.</p>
</footer>

<style>
.logo-container {
  float: left;
  margin-right: 20px;
}

.logo {
  width: 45px;
  height: auto;
  margin: 10px;
}
</style>
