<html>
  <head>
    <title>Chqto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <ul class="hmenu">
      <%= render 'devise/menu/registration_items' %> |
      <%= render 'devise/menu/login_items' %> |
      <%= link_to "Links", links_path %>
    </ul>
    <%= yield %>
  <% if notice || alert %>
    <p class="notice"> <%= notice || alert %></p>
  <% end %>
  </body>

  <%= any_login_here if defined?(AnyLogin) %>
</html>

<style>
  ul.hmenu {
    list-style: none;	
    margin: 0 0 2em;
    padding: 0;
  }

  ul.hmenu li {
    display: inline;  
  }
</style>
